@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration;

<div class="d-flex" id="wrapper">

    <MudThemeProvider Theme="currentTheme" />
    <MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" />
    <MudSnackbarProvider />

    <NavMenu />

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h3 class="title">Bethany's Pie Shop HRM </h3>
                <div> Api Endpoint is: @ApiEndpoint</div>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                </ul>
            </div>
        </nav>

        <div class="container-fluid">

            @Body

        </div>
    </div>

</div>

@code {
    [Inject]
    public IConfiguration Configuration { get; set; }

    public string ApiEndpoint
    {
        get
        {
            return this.Configuration.GetValue<string>("ApiEndpoint");
        }
    }

    bool _drawerOpen = false;
    bool _rightToLeft = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void RightToLeftToggle()
    {
        _rightToLeft = !_rightToLeft;
    }

    protected override void OnInitialized()
    {
        currentTheme = defaultTheme;
    }

    void DarkMode()
    {
        if (currentTheme == defaultTheme)
        {
            currentTheme = darkTheme;
        }
        else
        {
            currentTheme = defaultTheme;
        }
    }

    MudTheme currentTheme = new MudTheme();
    MudTheme defaultTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#272c34"
        }
    };

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            DrawerIcon = "rgba(255,255,255, 0.50)"
        }
    };
}